.fatbl{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mom{
    width: 20%;
}


.kornik{
    width: 300px;
    height: 280px;
    /*margin: 0px 30px;*/
}

.chPost{
    font-weight: bold;
}
.blComm{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}
.chId{
    border: 1px solid black;
    font-weight: bolder;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.chName{
    text-transform: uppercase;
    line-height: 20px;
    text-align: center;
}
.a{
    cursor: pointer;
    text-decoration: none;
    color: cornflowerblue;
    text-align: center;

}
.chEmail{
    margin: 10px 0px;
}

/***********************************************************CW*/